<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RegisterStore</title>
    <link href="registerStore.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="register_container">
        <div class="img_container">
            <img class="logoImg" src="logo.png">
        </div>
        {{user.username}}
        <form action="{% 'create' %}" method="post" enctype="multipart/form-data">
            {%csrf_token%}
            <input type="text" class="register_store" placeholder="가게 이름">
            <input type="text" class="register_store" placeholder="가게 연락처">
            <input type="text" class="register_store" placeholder="가게 주소">
            <input type="text" class="register_store" placeholder="사업자 등록번호">
            <button type="submit" id="confirmBtn">등록</button>
        </form>
    </div>
</body>

</html>