{% extends 'base.html'%}
<head>
    {% load static %}
    {% block extrahead %}
    <title>RegisterStore</title>
    <link rel="stylesheet" href="{% static 'registerStore.css' %}">
    {% endblock %}
</head>
{% block content %}
    <div class="register_container">
        <div class="img_container">
            <img class="logoImg" src="logo.png">
        </div>
        {{user.username}}
        <form action="{% url 'update' edit_store.id %}" method="post" enctype="multipart/form-data">
            {%csrf_token%}
            <input type="text" class="register_store" placeholder="가게 이름" value="{{edit_store.Store_name}}">
            <input type="text" class="register_store" placeholder="가게 연락처" value="{{edit_store.Store_tel}}">
            <input type="text" class="register_store" placeholder="가게 주소" value="{{edit_store.Store_add}}">
            <input type="text" class="register_store" placeholder="사업자 등록번호" value="{{edit_store.Store_num}}">
            <button type="submit" id="confirmBtn">등록</button>
        </form>
    </div>
{% endblock %}