{% extends 'base.html'%}
<head>
    {% load static %}
    {% block extrahead %}
    <title>SearchResult</title>
    <link rel="stylesheet" href="{% static 'searchResult.css' %}">
    {% endblock %}
</head>
{% block content %}
    <section id="search">
        <input type="text" class="search_bar">
    </section>

    <section id="search_result">
        <div class="search_result_text"></div>
        <div class="containers">
            {%for store in stores %}
            <div class="result_container">
                <div class="store_description">
                    <div class="store_title">{{store.Store_name}}</div>
                    <div class="store_location">주소 : {{store.Store_add}}</div>
                    <div class="store_phone">연락처 : {{store.Store_tel}}</div>
                    <a class="store_detail" href="{% url 'detail' store.id %}">...more</a>
                </div>
                <div class="store_image_container">
                    <img src="http://placehold.it/150x150" alt="매장사진" class="storeImg">
                </div>
            </div>
            {% endfor %}
            <div class="result_container">
                <div class="store_description">
                    <div class="store_title">더 진국 숭실대점</div>
                    <div class="store_location">주소 : 서울 동작구 상도로61길 38</div>
                </div>
                <div class="store_image_container">
                    <img src="http://placehold.it/150x150" alt="매장사진" class="storeImg">
                </div>
            </div>
            <div class="result_container">
                <div class="store_description">
                    <div class="store_title">The Kone</div>
                    <div class="store_location">주소 : 서울 동작구 상도로61길 23</div>
                </div>
                <div class="store_image_container">
                    <img src="http://placehold.it/150x150" alt="매장사진" class="storeImg">
                </div>
            </div>
        </div>
    </section>
{% endblock %}