{% extends 'base.html'%}
<head>
    {% load static %}
    {% block extrahead %}
    <title>ShowPoint</title>
    <link href="{% static 'showPoint.css' %}" rel="stylesheet" type="text/css"/>
    {% endblock %}
</head>
{% block content %}
    <div class = "showPoint_container">
        <div class='image_logo'>
            <img class="logoImg" src='./logo.png' alt='logo'>
        </div>
        <div class="showPoint_title">010-1234-5678님</div>
        <b><div class='showPoint_text'>현재 포인트</div></b>
        <b><div class='showPoint_point'>500p</div></b>
    </div>
    <div>
        <button id="showBtn" disabled>확인</button>
    </div>
{% endblock %}