<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RegisterStore</title>
    <link href="signIn.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class = "signIn_container">
        <div class="img_container">
            <img class="logoImg" src="logo.png">
        </div>
        <form method="POST" action="{% url 'signup' %}">
            "
            {% csrf_token %}
            "
            <input name="email" type="text" class="signIn" placeholder="휴대폰 번호" value>
            <input name="name" type="text" class="signIn" placeholder="성명" value>
            <input name="username" type="text" class="signIn" placeholder="사용자 이름" value>
            <input name="password" type="password" class="signIn" placeholder="비밀번호" value>
            <input id="confirmBtn" type="submit" value="가입하기">
        </form>
        
    </div>
</body>
</html>