/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: lightgrey;
  --color-green: green;
  --color-light-green: #a9d18e;
  --color-black: #000000;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;

  /* Font size */
  --font-extralarge: 60px;
  --font-large: 36px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-micro: 10px;
}

body {
  margin: 0;
  background-color: var(--color-white);
  height: 100vh;
}

/* Phone Section */
.getPoint_container {
  display: block;
  margin: 0 auto;
  margin-top: 80px;
  width: 380px;
  height: 450px;
  background-color: var(--color-white);
  text-align: center;
  border: 2px solid var(--color-light-green);
  border-radius: 30px;
}

.image_logo {
  margin-top: 30px;
  margin-bottom: 20px;
}

.logoImg {
  width: 70px;
  height: 70px;
}

.img_container {
  margin-top: 30px;
  margin-bottom: 20px;
}

.logoImg {
  width: 70px;
  height: 70px;
}

.restImg {
  width: 150px;
  height: 150px;
}

.register_title {
  font-size: var(--font-regular);
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gpBtn {
  margin-top: 30px;
  width: 100px;
  height: 36px;
  color: var(--color-white);
  background-color: var(--color-light-green);
  padding: 10px;
  border: none;
  border-radius: 3px;
}

#selectImg {
  margin-right: 10px;
  background-color: lightgray;
}

.gpBtn > img {
  width: 26px;
  height: 18px;
}

#confirmBtn {
  margin-left: 10px;
}
