<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodPoint</title>
    <link href="foodpointMain.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <nav id="navbar">
        <div class="navbar_logo">
            <a id="logo" href="#"><img class="navbar_logo" src="logo.png"></a>
        </div>
        <ul class="navbar_menu">
            <li class="navbar_item"><a href="#">푸포란?</a></li>
            <li class="navbar_item"><a href="#">가게 등록</a></li>
            <li class="navbar_item"><a href="#">마이페이지</a></li>
            <li class="navbar_item"><a href="#">로그인</a></li>
        </ul>
        <div class="navbar_search">
            <span class="search_description">자주가는 가게 찾아보기 :</span>
            <input type="text" class="searchbar" placeholder="Search">
            <button class="searchBtn">Search</button>
        </div>
    </nav>
    <!-- Home -->
    <section id="home">
        <div id="home_contain">
            <div class="home_title1">비울수록 채워지는</div> 
            <b><div class="home_title2">푸포(Food Point)</div></b>
            <div class="home_subtitle">
                <span class="highlight">잔반을 남기지 않을 때</span>
                마다 알뜰살뜰 
                <span class="highlight">포인트를 적립</span>하고,</div>
            <div class="home_subtitle">
                <span class="highlight">제휴된 음식점에서</span> 
                내맘대로 
                <span class="highlight">포인트를 사용</span>하고,</div>
            <div class="home_subtitle">
                <span class="highlight">음식물 쓰레기 절감</span>으로 인한 
                <span class="highlight">온실가스 배출감소</span>에 기여하는 
                <span class="green_highlight">친환경 서비스</span>입니다.</div>
        </div>
    </section>
    <!-- E-mail -->
    <section id="email">
        <div class="email_container">
            <b><div class="email_title">자주 방문하는 가게에 '푸포'를 알리고</div> </b>
            <b><div class="email_title">환경 보호에 기여하세요!</div> </b>
            <div class="email_input">
                <input type="text" class="email_textfield" placeholder="Your email here">
                <button class="subscribeBtn">Subscribe</button>
            </div>
        </div>
    </section>
    <!-- Makers -->
    <section id="makers" class="section">
        <h1 id="makers_title">만든 이들</h1>
        <h3 id="makers_team">숭실대학교 '우동사리' 팀</h3>
        <div class="makers_names">
            <div class="makers_name1">글로벌미디어학부 16 권준상</div>
            <div class="makers_name2">컴퓨터학부 19 정승연</div>
        </div>
        <div class="makers_names">
            <div class="makers_name1">전자정보공학부 17 신홍석</div>
            <div class="makers_name2">컴퓨터학부 17 황순범</div>
        </div>
    </section>

    {{user.username}}
</body>
</html>