/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: lightgrey;
  --color-green: green;
  --color-light-green: #a9d18e;
  --color-black: #000000;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;

  /* Font size */
  --font-extralarge: 60px;
  --font-large: 36px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-micro: 10px;
}

body {
  margin: 0;
  background-color: var(--color-white);
  height: 100vh;
}

* {
  font-family: "Noto Sans KR", sans-serif;
  list-style: none;
  text-decoration: none;
}

.main_container {
  display: block;
  margin: 0 auto;
  margin-top: 80px;
  width: 80%;
  height: 90%;
  background-color: var(--color-white);
  text-align: center;
  border: 2px solid var(--color-light-green);
  border-radius: 30px;
}

.image_logo {
  margin-top: 30px;
  margin-bottom: 20px;
}

.logoImg {
  width: 70px;
  height: 70px;
}

.result {
  font-size: 24px;
}

/* main_text0 */

.main_text0 {
  text-align: center;
}

.main_text0 > h2 {
  margin-top: 10px;
}

.icons {
  display: flex;
  justify-content: space-around;
  width: 700px;
  height: 350px;
  margin: 0 auto;
}

.icon_img1 {
  margin-top: 18px;
  width: 200px;
}
.icon_img2 {
  margin-top: 18px;
  width: 200px;
}

.icon_img3 {
  margin-top: 18px;
  width: 200px;
}
