/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: lightgrey;
  --color-green: green;
  --color-light-green: #a9d18e;
  --color-black: #000000;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;

  /* Font size */
  --font-extralarge: 60px;
  --font-large: 36px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-micro: 10px;
}

body {
  margin: 0;
  background-color: var(--color-white);
  height: 100vh;
}

/* Phone Section */
.showPoint_container {
  display: block;
  margin: 0 auto;
  margin-top: 80px;
  width: 480px;
  height: 380px;
  background-color: var(--color-white);
  text-align: center;
  border: 2px solid var(--color-light-green);
  border-radius: 30px;
}

.image_logo {
  margin-top: 30px;
  margin-bottom: 20px;
}

.logoImg {
  width: 70px;
  height: 70px;
}

.showPoint_title {
  margin: 0;
  margin-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 22px;
  color: var(--color-black);
}

.showPoint_text {
  font-size: 30px;
  color: var(--color-black);
  margin-bottom: 10px;
}

.showPoint_point {
  font-size: var(--font-extralarge);
  color: var(--color-light-green);
}

#showBtn {
  margin-top: 70px;
  width: 100px;
  color: var(--color-white);
  background-color: var(--color-light-green);
  padding: 5px;
  border: none;
  border-radius: 3px;
  position: absolute;
  left: 46%;
}
